html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #010101;
  font-size: 14px;
  font-family: 'Noto Serif', serif;
}

@import url('margins.less');
@import url('paddings.less');
@import url('media.less');