@import url('../common/var.less');
.pagination {
  margin-top: 19px;
  font-family: @font-noto-sans;
  display: flex;
  align-items: center;
  font-size: 13px;
  @media screen and (min-width: 480px) {
    margin-top: 29px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 30px;
  }
}
.pagination__title {
  display: none;
  color: #848484;
  margin-right: 23px;
  @media screen and (min-width: 480px) {
    display: block;
  }
}
.pagination__item {
  position: relative;
  width: 34px;
  line-height: 34px;
  text-align: center;
  @media screen and (min-width: 480px) {
    margin-right: 10px;
  }
}
.pagination__item_active {
  font-weight: bold;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(#acacac, 0.3);
  }
}
.pagination__next {
  width: auto;
  margin-left: 25px;
  @media screen and (min-width: 480px) {
    margin-left: 15px;
  }
}
